.text-card {
    border: 3px solid $reveroOrange;
    border-radius: 5px;
    background-color: $mediumGreen;
    width: 40rem;
    height: 25rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
}
