@font-face {
    font-family: "Myriad";
    src: url('../fonts/myriad/myriadregular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Myriad";
    src: url('../fonts/myriad/MYRIADPRO-BOLD.OTF');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Myriad";
    src: url('../fonts/myriad/MYRIADPRO-SEMIBOLD.OTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Myriad";
    src: url('../fonts/myriad/MYRIADPRO-SEMIBOLDIT.OTF');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: "Nexa";
    src: url('../fonts/nexa/nexa-light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa";
    src: url('../fonts/nexa/Nexa Bold.otf');
    font-weight: bold;
    font-style: normal;
}
